@import "../../../css/colors.scss";
@import "../../../css/typography.scss";

.footer {
  padding: 3% 0 2%;
  text-align: center;
  background-color: darken($primary-color, 8%);
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-item {
  padding: 1%;
  margin: 0 0.5%;
  border: 1.3px solid darken($primary-color, 20%);
  border-radius: 50%;
  transition: .5s all;

  &:hover {
    cursor: pointer;
    background-color: $primary-color;
  }
}

.footer__text {
  margin: 0;
  padding-top: 1%;
  color: $font-color;
  font-family: $primary-font;
  letter-spacing: 1px;
  font-size: 1em;
}

.footer__author {
  font-family: 'IndieFlowerRegular';
  color: $secondary-color;
  font-size: 1.4em;
}