@import "../../../css/colors.scss";
@import "../../../css/typography.scss";
@import "../../../css/breakpoints.scss";

.footer {
  padding: 2% 0 1%;
  text-align: center;
  background-color: darken($primary-color, 8%);
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-item {
  padding: 1% 1.1%;
  margin: 0 0.5%;
  border: 1.3px solid darken($primary-color, 20%);
  border-radius: 50%;
  transition: .5s all;

  &:hover {
    cursor: pointer;
    background-color: $primary-color;
  }

  @media screen and (max-width: $medium-device) {
    padding: 1.2% 1.4%;
    margin: 0 1%;
  }

  @media screen and (max-width: $small-device) {
    padding: 1.5% 1.8%;
    margin: 0 1.5%;
  }

  @media screen and (max-width: $x-small-device) {
    padding: 2% 2.4%;
    margin: 0 2%;
  }
}

.footer__text {
  margin: 0;
  padding-top: 1%;
  color: $font-color;
  font-family: $primary-font;
  letter-spacing: 1px;
  font-size: 1em;
}

.footer__author {
  font-family: 'IndieFlowerRegular';
  color: $secondary-color;
  font-size: 1.4em;
}