@import "../../../css/colors.scss";
@import "../../../css/typography.scss";

.authentication {
  width: 100%;
  height: 100vh;
  color: $font-color;
  background-color: $tertiary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication__container {
  width: 50%;
  background-color: $primary-color;
}

.authentication__button {
  width: 50%;
  padding: 5%;
  box-sizing: border-box;
  display: inline-block;
  color: $primary-color;
  background-color: #D4D4D4;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.authentication__active {
  color: $font-color;
  background-color: $primary-color;
}