@import "../../../css/colors.scss";
@import "../../../css/typography.scss";

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  transition: .5s all;
}

.nav--background {
  background: lighten($font-color,  80%);
  box-shadow: 2px 0 8px black;
}

.nav__logo {
  padding-left: 5%;
}

.nav__list {
  padding-right: 5%;
  font-size: 1.3em;
  font-family: 'IndieFlowerRegular';
  list-style-type: none;
}

.nav__list--inline {
  display: inline-block;
}

.nav__list-item {
  display: inline-block;
  padding: 0 5%;
  color: $primary-color;
  letter-spacing: 1px;
  transition: .5s all;

  &:hover {
    color: lighten($font-color,  60%);
    cursor: pointer;
  }
}

.nav__list-item--color {
  color:black;
}