@import "../../../css/colors.scss";
@import "../../../css/typography.scss";

.nav {
  box-sizing: border-box;
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: .5s all;
}

.nav--background {
  background: lighten($font-color,  80%);
  box-shadow: 2px 0 8px black;
}

.nav__logo {
  padding: 10px 0;
}

.nav__logo-img {
  padding: 10px;
  border-radius: 20px;
  background-color: lighten($secondary-color, 10%);
}

.nav__list {
  padding: 0;
  font-size: 1.3em;
  font-family: 'IndieFlowerRegular';
  list-style-type: none;
}

.nav__list-item {
  display: inline-block;
  padding: 0 10px;
  color: $primary-color;
  letter-spacing: 1px;
  transition: .5s all;

  &:hover {
    cursor: pointer;
    color: lighten($font-color,  60%);
  }
}

.nav__list-item--color {
  color:black;
}