@import "../../../../css/colors.scss";
@import "../../../../css/typography.scss";

.sign-in-social {
  color: $primary-color;

  &:hover {
    cursor: pointer;
  }
}

.sign-in-social__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-social__icon {
  min-width: 20%;
  padding: 5%;
  display: inline-block;
  font-weight: 700;
}

.sign-in-social__text {
  width: 80%;
  padding: 5%;
  display: inline-block;
}