@import "../../../../css/colors.scss";
@import "../../../../css/typography.scss";

.authentication__social {
  color: $primary-color;

  &:hover {
    cursor: pointer;
  }
}

.authentication__social-item {
  padding: 1% 3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.authentication__social-item-facebook {
  background-color: $facebook-color;
  transition: .5s all;

  &:hover {
    background-color: darken($facebook-color, 10%);
  }
}

.authentication__social-item-google-plus {
  background-color: $google-plus-color;
  transition: .5s all;

  &:hover {
    background-color: darken($google-plus-color, 10%);
  }
}

.authentication__social-icon {
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: $primary-color;
}

.authentication__social-text {
  padding: 15px;
  display: inline-block;
  letter-spacing: 2px;
}