$component-color: #49A271;
$background-color: #FFF;
$font-color: #333;

.sign-in-social {
  color: $background-color;

  &:hover {
    cursor: pointer;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    min-width: 20%;
    padding: 5%;
    // box-sizing: border-box;
    display: inline-block;
    background-color: #2C5A90;
    font-weight: bold;
  }

  &__text {
    width: 80%;
    padding: 5%;
    // box-sizing: border-box;
    display: inline-block;
    background-color: #2F64A0;
  }
}