@import "../../../css/colors.scss";
@import "../../../css/typography.scss";
@import "../../../css/breakpoints.scss";

.trello-container {
  min-height: 75vh;
  padding: 25vh 0 15vh;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #af8b8b), color-stop(1, #4578a5));
}

.trello {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
  overflow-x: auto;

  @media screen and (max-width: $small-device) {
    padding: 5%;
  }
}

.trello__board {
  margin: 2%;
  padding: 1% 1% 6%;
  min-width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: $board-color;

  &:focus {
    outline: none;
  }
}

.trello__header {
  text-align: center;
  letter-spacing: 1px;
  color: $primary-color;
}

.trello__header--border {
  padding: 1% 5%;
  border-top: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
}

.trello__item-container {
  position: relative;
}

.trello__item {
  padding: 2%;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-family: 'DancingScriptRegular';
  background-color: $primary-color;
}

.trello__item-delete,
.trello__item-advanced-button {
  float: right;
  font-size: 0.8em;
  font-family: $primary-font;

  &:hover {
    cursor: pointer;
  }
}

.trello__item-advanced-button {
  width: 20px;
  height: 20px;
  background: url('../../../assets/img/bars.svg') no-repeat center;
  background-size: cover;
}

.trello__item-advanced-container {
  z-index: 2;
  position: absolute;
  padding: 5px 0;
  color: $primary-color;
  background-color: darken($board-color, 10%);
  border: 2px solid $primary-color;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.trello__item-advanced-container--hidden {
  display: none;
}

.trello__item-advanced-option {
  padding: 10px 10px 0;
}

.trello__item-advanced-select {
  padding: 5px;
  margin-left: 10px;
  border: 2px solid $font-color;
  font-size: 0.8em;
  font-weight: bold;
  font-family: 'OpenSansLight';
  letter-spacing: 1px;
}

.trello__placeholder {
  border: 1px dashed $primary-color;
}

.trello__placeholder--active {
  visibility: auto;
}

.trello__placeholder--hidden {
  visibility: hidden;
}

.trello__input-container {
  width: 100%;
}

.trello__input {
  padding: 7px;
  margin-right: 5%;
  border: 2px solid darken($primary-color, 10%);
}

.trello__button {
  padding: 2px 12px;
  margin-left: 10px;
  font-size: 1em;
  border-radius: 30px;
  border: 2px solid darken($primary-color, 10%);
  background-color: $primary-color;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: 'IndieFlowerRegular';
  transition: .5s all;

  &:hover {
    cursor: pointer;
    background-color: darken($primary-color, 7%);
  }

  &:focus {
    outline: none;
  }
}