@import "../../../css/colors.scss";
@import "../../../css/breakpoints.scss";

.trello {
  padding: 10% 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  @media screen and (max-width: $small-device) {
    flex-direction: column;
    padding: 5%;
  }
}

.trello__board {
  flex: 1;
  margin: 1%;
  padding: 1%;
  background-color: $tertiary-color;

  &:focus {
    outline: none;
  }
}

.trello__header {
  text-align: center;
  letter-spacing: 1px;
}

.trello__header--border {
  padding: 1% 5%;
  border-top: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
}

.trello__item {
  padding: 2%;
  font-size: 1.5em;
  font-family: 'DancingScriptRegular';
}

.trello__placeholder {
  border: 1px dashed $primary-color;
}

.trello__placeholder--active {
  visibility: auto;
}

.trello__placeholder--hidden {
  visibility: hidden;
}